* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black: black;
    --black-blue: #161d27;
    --black-green: #1f2d25;
    --black-yellow: #2d2c1f;

    --white: white;
    --white-gray: #f0f8ff;
    --white-green: #f4faf6;

    --red: #df2020;
    --red-dark: #680e0e;
    --orange: #ff8d5c;
    --yellow: #ffc174;
    --yellow-dark: #8e6100;
    --yellow-light: #faf1df;

    --blue: #0c97ff;
    --blue-light: #dfebf1;
    --blue-dark: #0d5cb6;
    --blue-black: #09203f;
    --blue-db: #2d5d80;

    --green: #2df3aa;
    --green-dark: #25b580;
    --grean-black: #0b4d34;
    --green-light: #dff1ea;

    --purple: #e574ff;
    --pink: #fa7daf;
    --beige: #c9ba9b;
    --brown: #433625;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.hide {
    display: none;
}

/* Header */
.navbar-brand {
    width: 60px;
}

.navbar-title {
    flex-grow: 1;
    font-weight: bold;
}

body {
    background-color: var(--white);
}

/* Content */
.content {
    width: 1000px;
    margin: auto;
    background-color: var(--white);
    height: 200vh;
}

.first-content {
    background-image: url(./images/banner1_Mesa\ de\ trabajo\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.25rem;
    padding: 1rem;
    height: 45vh;
}

.first-content span {
    font-weight: bold;
}

.text-fc {
    /* background-color: var(--white); */
    color: var(--white);
    padding: 2rem;
}

.text-fc .title {
    font-weight: bold;
    font-size: 2.25rem;
}

.btn-read {
    background-color: var(--red-dark);
    color: var(--white);
}

.btn-download {
    background-color: var(--grean-black);
    color: var(--white);
}

.second-content,
.third-content {
    padding: 3rem 2rem;
}

.second-content img,
.third-content img {
    border-radius: 30px;
}

.second-content {
    /* border-bottom: 5px solid var(--black-blue); */
}

.second-content .title,
.third-content .title {
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.title i {
    font-size: 1.7rem;
    color: var(--blue-dark);
}

.second-content .text {
    text-align: justify;
}

.btn-custom {
    font-weight: bold;
    width: fit-content;
    padding: 10px 24px;
    cursor: pointer;
    border-radius: 100px;
}

.fourth-content .start {
    margin: auto;
    background-color: var(--yellow-dark);
    color: var(--white);
}

.fourth-content .submit {
    background-color: var(--blue-black);
    margin: auto;
}

.fourth-content .submit a {
    color: var(--white);
}

.fourth-content .form-content {
    padding: 2rem ;
}

.form-custom .question {
    padding-right: 0.5rem;
}

.form-custom .answer {
    padding: 6px;
}

.form-custom .answer input {
    width: 1rem;
    height: 1rem;
}

@media (min-width: 1024px) {
    .navbar-title {
        font-size: 1.7rem;
    }
}

