.key span {
    color: var(--blue);
}

select, input[type="text"] {
    width: 100%;
    padding: 8px 12px;
    /* margin: 8px 0; */
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
