* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black: #000;
    --white: #fff;

    --blue: #0ef;
    --blue-black: #1f232e;
    --blue-dark: #313743;

    --yellow: #ffc174;
    
    --brown: #433625;
    --gray: #d1fcff;
}

body {
    background-color: var(--blue-black);
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    height: 200vh;
}

a {
    text-decoration: none;
}

/* Header */
.navbar {
    background-color: transparent !important;
}

.navbar-brand {
    width: 50px;
}

.navbar-collapse {
    flex-grow: unset;
}

.header__link {
    color: var(--white);
    padding: 8px 16px !important;
}

.header__link:hover {
    color: var(--blue);
}

.header__active {
    color: var(--blue);
}

/* ----------- Main ------------ */
/* Section */
.section {
    width: 1000px;
    margin: auto;
    padding: 4rem 0;
}

.section .title {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--blue);
    padding-bottom: 1rem;
}

.section .content {
    text-align: justify;
}

.section .image img {
    border-radius: 20px;
}

/* First Section */
.banner {
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.25rem;
    padding: 1rem 3rem;
    height: 50vh;
    color: var(--white);
    text-align: justify;
}

.btn-custom {
    width: fit-content;
    padding: 10px 24px;
    cursor: pointer;
    border-radius: 100px;
}

.btn-custom a {
    color: var(--black);
}

.btn-add {
    background-color: var(--blue);
    color: var(--black) !important;
    cursor: pointer;
}

.btn-custom:hover {
    opacity: 0.95;  
}

.btn-submit {
    background-color: var(--blue);
    color: var(--black);
}

.btn-cancel {
    background-color: var(--gray);
    color: var(--black);
}

.form-custom .question {
    width: 70px;
}

.form-custom .answer {
    padding: 0 6px;
}

.form-custom .answer input {
    width: 1rem;
    height: 1rem;
}

.section .key .title {
    font-size: 1.25rem;
}